/** @format */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:wght@700&family=Merriweather:wght@900&family=Roboto:ital,wght@0,500;1,500&family=Ubuntu:wght@300;400;700&display=swap");
body {
	background-color: #2d3ac3;
	font-family: "Libre Baskerville", serif;
	margin: 0;
}

#about-me {
	color: white;
}

.site-header {
	background: #24053e;
	padding: 1em 0;
	border-radius: 0 0 30% 10%;
	position: relative;
	margin: 0 0 3em 0;
}

.site-footer {
	background: #24053e;
	color: white;
	margin-top: 4em;
	height: 6em;
	display: flex;
	justify-content: center;
	align-items: center;
	clear: both;
}

img {
	width: 100%;
}

span {
	vertical-align: middle;
}

/* Layout */

.container {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.container-flex {
	display: flex;
	flex-direction: column;
}

.recent-posts-header .container-flex {
	display: block;
}

.site-header .container {
	height: 15em;
	max-width: none;
}

.site-logo-image-container {
	position: absolute;
	top: 62%;
	right: 5%;
	line-height: 0;
	z-index: 100;
}

.site-logo-image {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	border: 0.3em solid white;
}

.site-title-container {
	line-height: 0.8;
}

.featured-articles {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 3em auto 0 auto;
}

.article-featured:first-child,
.article-recent:nth-child(2) {
	margin: 0 0 1.2em 0;
}

.article-featured:last-child,
.recent-tiktok-posts .article-recent:last-child {
	height: fit-content;
	padding-bottom: 25%;
	border-bottom: 2px solid #fff;
}

.recent-posts .recent-tiktok-posts .article-recent:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.article-featured,
.article-recent,
.widget-recent-post {
	display: flex;
	flex-direction: column;
	margin: 1.2em 0;
	/* background: linear-gradient(#24053e 80%, #2f46e0); */
}

.article-featured-main,
.article-recent-main,
.article-featured-secondary,
.article-recent-secondary {
	padding: 1em;
}

.widget-recent-post {
	padding: 0.4em;
}

.article-featured-main,
.article-recent-main,
.widget-recent-post-title {
	order: 1;
	background: linear-gradient(#24053e 20%, #2f46e0);
}

.article-featured-secondary,
.article-recent-secondary,
.widget-recent-post .article-see-more {
	order: 0;
	background-color: #24053e;
}

.article-image-container,
.video-content-image,
.widget-recent-post .article-see-more {
	position: relative; /* this makes the container a reference point for the child elements */
	width: 100%;
}

.article-image-container,
.widget-recent-post .article-see-more {
	padding-bottom: calc(400% / 3); /* Set the height to 4/3 of the width */
}

.video-content-image {
	width: 100%; /* Set the width to 100% of the parent container */
	padding-bottom: 75%; /* Set the height to 3/4 of the width */
}

.article-image,
.widget-image,
.video-content-image .widget-image {
	width: 100%; /* this makes the image fill the container width */
	height: 100%; /*  this makes the image fill the container height */
	object-fit: cover; /* this makes the image cover the container without stretching  */
	position: absolute; /* Set the position to absolute */
	top: 0; /* Align the image to the top of the container */
	left: 0; /* Align the image to the left of the container */
}

.video-play-icon {
	position: absolute; /* this allows the image to be positioned over the other image */
	top: 50%; /* this moves the image 50% from the top edge of the container */
	left: 50%; /* this moves the image 50% from the left edge of the container */
	transform: translate(
		-50%,
		-50%
	); /* this offsets the image by half of its own width and height, so that it is centered */
	/* margin: 0 auto; this centers the image horizontally */
	width: 20%;
	border-radius: 50%;
	background-color: hsla(80, 2%, 72%, 0.5);
}

.widget-recent-post {
	background: linear-gradient(#24053e 85%, #2f46e0);
}

.widget-recent-post .article-see-more {
	display: block;
}

.tiktok-widgets .article-see-more {
	padding-bottom: 0;
}

.sidebar {
	display: flex;
	flex-direction: column;
}

.sidebar-widget {
	font-size: 5vw;
	margin: auto;
	width: 65%;
}

@media (min-width: 400px) {
	/* Layout */
	.sidebar {
		flex-direction: row;
		align-items: flex-start;
	}

	#about-me .sidebar {
		flex-direction: column;
	}

	.sidebar-widget {
		width: auto;
		flex-grow: 1;
		margin-top: 0;
	}

	#about-me .sidebar-widget {
		margin: 0 auto;
	}

	.facebook-widgets {
		margin-right: 5%;
	}

	.tiktok-widgets {
		margin-left: 5%;
	}

	/* Typography */

	.sidebar-widget .widget-title {
		font-size: 0.7em;
		margin: 2em auto 0.3em auto;
	}
}

/* Layout styling for the recent posts webpage */

.recent-posts .recent-facebook-posts,
.recent-posts .recent-tiktok-posts {
	display: flex;
	flex-wrap: wrap;
	gap: 2em 0.8em;
}

main.recent-posts .article-recent {
	flex: 1 1 calc(32%);
	margin: 0;
	/* margin: 1em 1em 0 1em; */
}

main.recent-posts .article-recent:nth-last-child(-n + 2) {
	max-width: calc(32%);
}

/* Typograpghy */
@font-face {
	font-family: "minehead";
	src: url(/fonts/minehead/MineheadDEMO.otf);
}

.site-title {
	font-family: "Bebas Neue", sans-serif;
	font-weight: bolder;
	font-size: 3em;
	color: white;
	margin: 0;
}

.subtitle {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	margin-top: 0;
	color: #2f46e0;
}

.article-caption,
.widget-recent-post-title {
	color: white;
	font-family: "Merriweather", serif;
	font-weight: 900;
	margin: 0 0 0.1em 0;
}

.article-caption + .article-see-more {
	font-size: 0.75em;
	text-decoration: none;
}

.article-caption + .article-see-more,
.widget-title {
	background-color: #43ffa1;
	border: 0.3em solid #43ffa1;
	border-radius: 0.5em;
}

.article-section-heading,
.widget-title {
	color: #24053e;
	font-family: "Bebas Neue", sans-serif;
	letter-spacing: 0.05em;
	margin: 20% 0 0.3em 0;
}

.article-section-heading {
	color: white;
	border-bottom: 0.1em solid #24053e;
	width: fit-content;
	margin: 2.5em 0 0.3em 0;
}

.recent-posts .article-section-heading {
	margin: 2em 0 0.3em 0;
	text-align: center;
}

.recent-posts .article-section-heading span {
	border-bottom: 0.1em solid #24053e;
}

.article-info {
	margin: 0.5em 0 0.5em 0;
	color: white;
	font-size: 0.7em;
}

.widget-recent-post-title {
	font-size: 0.75em;
	margin: 0;
	background: none;
}

.widget-title {
	width: fit-content;
	padding: 0;
	margin: 20% auto 0.3em auto;
	font-size: 1em;
	text-align: center;
}

.widget-title .article-see-more {
	text-decoration: none;
	color: #24053e;
}

.copyright {
	margin: 0;
	text-align: center;

	/* padding: 2em; */
}

.copyright span:first-child {
	font-family: "Bebas Neue", sans-serif;
	font-size: 1.5em;
}

#about-me main {
	background: linear-gradient(#24053e 80%, #2f46e0);
	padding: 1.5em;
	max-width: 551px;
	min-width: 247.5px;
}

#about-me main h1 {
	margin-top: 0;
	border-bottom: 2px solid #43ffa1;
	width: fit-content;
}

/* Site Navigation */

.nav-list ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.nav-list-item {
	padding: 0.3em;
	list-style: none;
	margin: 0.2em 0;
}

.nav-link {
	text-decoration: none;
	font-family: "Ubuntu", sans-serif;
	font-weight: bolder;
	font-size: 1.125em;
	color: #0096ff;
	border-bottom: 0.08em solid #43ffa1;
}

.nav-link:hover {
	color: #43ffa1;
	text-decoration: underline;
}

.nav-link:focus {
	color: #e90343;
}

.site-title-container a {
	text-decoration: none;
}

#about-me .button {
	/* display: inline-block; */

	color: #24053e;
	padding: 0.3em 0.5em;
	/* border-radius: 5px; */
	font-family: "Ubuntu", sans-serif;
	font-weight: bolder;
	text-transform: lowercase;
	margin: 0.3em;
}

.icon,
.button span {
	vertical-align: middle;
}

.button span {
	background-color: #43ffa1;
	padding: 0.1em 0.3em;
	border-radius: 5px;
}

.icon {
	width: 1.5em;
}

.current-page,
.current-page:hover,
.current-page:focus,
.site-title-container a .site-title:hover,
.site-title-container a .site-title:focus,
.external-link {
	color: #43ffa1;
	text-decoration: none;
}

@media (min-width: 600px) {
	/* Layout */
	.container-flex:nth-child(3) {
		flex-direction: row;
		position: relative;
	}

	main {
		flex-grow: 1;
		flex-basis: 80%;
	}

	.featured-articles {
		flex-direction: row;
	}

	.article-featured {
		flex: 1;
	}

	.facebook-featured {
		margin: 0 1em 0 0;
	}

	.tiktok-featured {
		margin: 0 0 0 1em;
	}

	.article-featured:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}

	.article-recent {
		/* max-width: 520px; */
	}

	.recent-tiktok-posts .article-recent:last-child {
		padding: 0;
		border: none;
	}

	.sidebar {
		flex-direction: column;
		flex-shrink: 1;
		flex-grow: 0;
		flex-basis: 30%;
		/* margin-left: 10%; */
		position: relative;
	}

	#about-me .sidebar {
		flex-direction: row;
		gap: 0 10%;
		margin: 4em auto 0 auto;
		position: static;
	}

	#about-me .widget-title {
		position: absolute;
		top: 83%;
		z-index: 1;
		font-size: 0.8em;
	}

	#about-me .facebook-widget-title {
		left: 13.5%;
	}

	#about-me .tiktok-widget-title {
		left: 65%;
	}

	.sidebar-widget {
		position: absolute;
	}

	#about-me .sidebar-widget {
		position: static;
	}

	.facebook-widgets {
		margin: 0;
		top: 2.45%;
		left: 20%;
	}

	.tiktok-widgets {
		margin: 0;
		top: 62.2%;
		left: 20%;
		margin: 0;
	}

	.widget-recent-post {
		padding: 0.2em;
	}

	#about-me .widget-recent-post {
		background: linear-gradient(#24053e 92%, #2f46e0);
	}

	.widget-recent-post:nth-child(2) {
		margin: 0.5em 0 1.2em 0;
	}

	/* Typography */

	.sidebar-widget .widget-title {
		margin: 0 auto 0.3em auto;
		font-size: 0.38em;
	}

	.widget-recent-post-title {
		font-size: 0.3em;
	}

	/* Navigation */
	.nav-list {
		margin-top: 2em;
	}

	.nav-list ul {
		flex-direction: row;
		justify-content: space-around;
	}
}

@media (min-width: 700px) {
	/* Layout */

	.facebook-widgets {
		/* top: 32%; */
	}

	.tiktok-widgets {
		/* top: 74.35%; */
		margin: 0;
	}

	/* Navigation */
	.site-header .container-flex {
		justify-content: space-between;
		align-items: center;
	}

	.nav-list {
		margin: auto;
	}

	.nav-list-item {
		margin: 0 1em;
	}
}

@media (min-width: 800px) {
	.recent-facebook-posts,
	.recent-tiktok-posts {
		display: flex;
		flex-wrap: wrap;
	}

	.container .article-recent {
		flex: 1 1 40%;
		margin: 1em 0.5em 0 0.5em;
	}

	.sidebar {
		max-width: 192px;
	}

	#about-me .sidebar {
		flex-direction: column;
		max-width: none;
		margin: 3em auto 0 auto;
	}

	#about-me .widget-title {
		position: static;
		margin: 5em auto 0.3em auto;
		font-size: 1em;
	}

	#about-me .sidebar-widget {
		display: flex;
		align-items: flex-start;
		gap: 1em;
		margin: 0.5em auto;
		width: 100%;
	}

	#about-me .widget-recent-post {
		flex: 1;
		margin: 0;
	}

	#about-me p {
		font-family: "Roboto", sans-serif;
	}

	.sidebar-widget .widget-title {
		font-size: 0.2em;
	}

	.facebook-widgets {
		top: 6%;
	}
}
